<div class="content">
<div class = "menu">
  <table class="column">
    <tr>
      <th class="ima">Курс </th>
      <th>Преподаватель </th>
      <th>Тема </th>
      <th>Раздел </th>
      <th>Контент </th>
    </tr>
  </table>
  <div *ngFor="let Study of studying | async">
    <table>
      <tr>
        <td class="name">{{Study.course}}</td>
        <td class="name">{{Study.prepod}}</td>
        <td class="exp">{{Study.theme}}</td>
        <td class="age1">{{Study.section}}</td>
        <td class="post">{{Study.content}}</td>
      </tr>
    </table>
  </div>

</div>
</div>
