
  <!--////////////////////////////////////Container-->
  <section id="container">
    <div class="wrap-container">
      <!-----------------Content-Box-------------------->
      <div id="main-content" class="zerogrid">
        <div class="wrap-content">

          <div class="row wrap">
            <div class="col-1-3">
              <div class="wrap-col">
                <article>
                  <div class="post-thumbnail-wrap">
                    <a href="single.html" class="portfolio-box">
                      <img id="doctor21" src="assets/images/amedic.png" alt="">
                    </a>
                  </div>
                  <div class="entry-header ">
                    <h3 class="entry-title">Григорян Артур Арманович</h3>
                    <div class="l-tags"><p>Заведующий терапевтическим отделением, врач-гастроэнтеролог</p></div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-1-3">
              <div class="wrap-col">
                <article>
                  <div class="post-thumbnail-wrap">
                    <a href="single.html" class="portfolio-box">
                      <img id="doctor1"src="assets/images/anekit.png" alt="">

                    </a>
                  </div>
                  <div class="entry-header ">
                    <h3 class="entry-title">Агафонов Никита Евгеньевич</h3>
                    <div class="l-tags"><p>И.о. заведующий отделением, врач-терапевт</p></div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-1-3">
              <div class="wrap-col">
                <article>
                  <div class="post-thumbnail-wrap">
                    <a href="single.html" class="portfolio-box">
                      <img src="assets/images/aartem.png" alt="">

                    </a>
                  </div>
                  <div class="entry-header ">
                    <h3 class="entry-title">Шутов Артём Алексеевич</h3>
                    <div class="l-tags"><p>Врач-терапевт,специалист по амбулаторно-поликлинической помощи</p></div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-1-3">
              <div class="wrap-col">
                <article>
                  <div class="post-thumbnail-wrap">
                    <a href="single.html" class="portfolio-box">
                      <img src="assets/images/amax.png" alt="">

                    </a>
                  </div>
                  <div class="entry-header ">
                    <h3 class="entry-title">Савельев Максим Александрович</h3>
                    <div class="l-tags"><p>Врач-терапевт</p></div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-1-3">
              <div class="wrap-col">
                <article>
                  <div class="post-thumbnail-wrap">
                    <a href="single.html" class="portfolio-box">
                      <img src="../../../assets/images/228.png" alt="">

                    </a>
                  </div>
                  <div class="entry-header ">
                    <h3 class="entry-title">Жмышенко Валерий Альбертович</h3>
                    <div class="l-tags"><p>Заведующий отделением, врач-терапевт</p></div>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-1-3">
              <div class="wrap-col">
                <article>
                  <div class="post-thumbnail-wrap">
                    <a href="single.html" class="portfolio-box">
                      <img src="assets/images/asav.png" alt="">

                    </a>
                  </div>
                  <div class="entry-header ">
                    <h3 class="entry-title">Савченков Никита Васильевич</h3>
                    <div class="l-tags"><p>Врач-эндокринолог</p></div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--////////////////////////////////////Footer-->

