<script src="../student-page/nicEdit.js"></script>
<div class="sidebar">

  <b> Выбранный курс: </b>
    <select [(ngModel)]="selectedCourse" name="course">
      <option *ngFor="let Study of studying | async" [value]="Study.prepod"> {{Study.course}} </option>
    </select>
    <b> Преподаватель: </b>
    <p>{{selectedCourse}} </p>
    <b> Название темы: </b>

</div>

<div class="main">
  <form>
    <input type="reset" value="Очистить">
    <textarea class="main_text">    </textarea>
    <input type="button" value="Сохранить">
    <input type="file">
  </form>
</div>
