* {
  margin: 0;
  padding: 0;
}
 ///*.headerback, {
 ////  background-image: url("../images/headmainback2.png");
 ////  height: 200px;
 ////  background-repeat: round;
 //*/}

.header-block {
  height: 10vh;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-block ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
}
.header-block a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#30A8E6; /*добавляем фон к пункту меню*/
  color:#fff; /*меняем цвет ссылок*/
  padding:10px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  border-radius:4px; /*добавляем скругление*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
//.header-block a:hover {
//  background:#1C85BB;/*добавляем эффект при наведении*/
//}
//.header-block li {
//  float:left; /*Размещаем список горизонтально для реализации меню*/
//  margin-right:5px; /*Добавляем отступ у пунктов меню*/
//
//}

header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
.header_logo{
  position: absolute;
  width: 55px;
  height: 55px;
  left: 320px;
  top: 25px;

  //background: url(/src/img/iag);

}
.header_text{
  /* НГТУ им. Р.Е. Алексеева */

  position: absolute;
  width: 500px;
  height: 18px;
  left: 70px;
  top: 18px;

  // font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;

  color: #181818;

}
.header_text2{
  /* Всего курсов: 3 */

  position: absolute;
  width: 300px;
  height: 21px;
  left: 320px;
  top: 94px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */

  color: #181818;
}

.header_left{
  /* Савченков Никита Васильевич (студент) */

  position: absolute;
  width: 321px;
  height: 21px;
  left: 1244px;
  top: 43px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #181818;
}

.name_user {
  font-size: 14px;
}

.exit_logo{
  /* Vector */

  position: absolute;
  left: 98.56%;
  right: 17.6%;
  top: 4.43%;
  bottom: 93.51%;

  background: #000000;


}
