<div class="headerback">
</div>
<div class="header-block">
  <div class="ngtu"> [PIC] НГТУ им. Р.Е. Алексеева </div>
    <div class="dropdown-menu">
      <a class="nav-link dropdown-item" role="button">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['profile']"><i class="fa fa-building-o"></i>
          {{user.name}} ({{user.type}})</a>
      </a>
      <a class="dropdown-item" (click)="onLogout()">
       <span>
         <i class="fa fa-power-off icon"></i>
          X
       </span>
      </a>
    </div>
</div>
