<div class="content">
  <p class="at">УВАЖАЕМЫЕ ПАЦИЕНТЫ И ГОСТИ НАШЕГО САЙТА!</p>
  <h3>Больница №17</h3>
  <p>Является одним из самых крупных медицинских учреждений Нижнего Новгорода.</p>
  <p>ПО ВИДУ, ОБЪЕМУ И ХАРАКТЕРУ ОКАЗЫВАЕМОЙ МЕДИЦИНСКОЙ ПОМОЩИ НАША МЕДИЦИНСКАЯ ОРГАНИЗАЦИЯ ЯВЛЯЕТСЯ:</p>
  <p>по профилю - многопрофильной и специализированной;</p>
  <p>по системе организации - объединенной с родильным домом, взрослой и детской поликлиниками и женской консультацией;</p>
  <p>по объему деятельности - различной категорийности (коечной мощности);</p>
  <p>В ЕЕ СОСТАВ ВХОДЯТ:</p>
  <p>многопрофильный стационар на 425 коек;</p>
 <p> родильный дом на 200 коек;</p>
  <p>взрослая поликлиника, обслуживающая 53 485 человек взрослого населения;</p>
  <p>детская поликлиника, обслуживающая 10 427 детей;</p>
  <p>женская консультация, обслуживающая 69 226 женщин;</p>
  <p>Детский корпус, включающий в себя педиатрическое отделение на 40 коек .</p>
</div>
