h3 {
  text-align: center;
}
.content {
  margin-left:41vh;
  margin-right:41vh;
  margin-top:5vh;
  font-size: 23px;
  background: white;
  padding-left: 20px;
}
.at {
  text-align: center;
}

.sidebar {
  font-size: 23px;
}

.main-content {
  align-content: center;
  text-align: center;
  font-size: 23px;
}
