.sidebar {
  position: absolute;
  width: 407px;
  height: 754px;
  left: 320px;
  top: 125px;

  border: 2px solid #0072BC;
  box-sizing: border-box;
  border-radius: 5px;
}

.main {
  position: absolute;
  width: 827px;
  height: 754px;
  left: 757px;
  top: 125px;

  border: 2px solid #0072BC;
  box-sizing: border-box;
}
.menu2
{
  display: none;
}
.main:focus ~ .menu2,
.menu2:hover
{
  display: block;
}
.editpage {
  position: absolute;
  width: 827px;
  height: 754px;
  left: 757px;
  top: 125px;

  border: 2px solid #0072BC;
  box-sizing: border-box;
}
