<div class="sidebar">
  <p>Список пользователей</p>
  <button type="new" (click)="add()"> + Новый пользователь </button>
  <button type="edit" (click)="edit()"> Редактировать </button>
  <div *ngFor="let User of user | async">
    <table>
      <button class="delete" (click)="deleteThisUser(User)">Удалить</button>
      <tr class="id">ID Пользователя: {{User.id}}</tr>
      <tr class="name">ФИО: {{User.name}}</tr>
      <tr class="login">Логин: {{User.login}}</tr>
      <tr class="password">Пароль: {{User.password}}</tr>
      <tr class="type">Роль: {{User.type}}</tr>
      <tr>_________________________________________________</tr>
    </table>
  </div>
</div>

<div class ="main" id="add_id">
  <div class="menu2">
  <p> Добавить: пользователя </p>
  <form [formGroup]= "form" (ngSubmit)="onSubmit1()">
    <label>
      <input type = "text" formControlName="name" placeholder="ФИО" class="name">
      <input type = "text" formControlName="login" placeholder="Логин" class="login">
      <input type = "text" formControlName="password" placeholder="Пароль" class="password">
      <select class="type" formControlName="type" placeholder="Роль">
        <option>Студент</option>
        <option>Преподаватель</option>
      </select>
      <input type = "text" formControlName="group" placeholder="Группа" class="group">
    </label>
    <button class="writerout" type="submit"> Добавить </button>
    <br>
  </form>
</div>
</div>

<div class ="editpage" id="edit_id">
  <div class="editpage2">
  <p> Редактировать: пользователя </p>
  <form [formGroup]= "form">
    <label>
      <input type = "text" formControlName="id" placeholder="ID" class="id">
      <input type = "text" formControlName="name" placeholder="ФИО" class="name">
      <input type = "text" formControlName="login" placeholder="Логин" class="login">
      <input type = "text" formControlName="password" placeholder="Пароль" class="password">
      <select class="type" formControlName="type" placeholder="Роль">
        <option>Студент</option>
        <option>Преподаватель</option>
      </select>
      <input type = "text" formControlName="group" placeholder="Группа" class="group">
    </label>
    <button class="writerout" type="submit" (click)="update()">Сохранить</button>
    <br>
  </form>
  </div>
</div>
