<div class="sidebar">
  <p>Список пользователей</p>
  <a (click)="add()">
    <img src="../../../assets/images/Vector_add.svg" alt="Добавить" class="add">
  </a>
  <a (click)="edit()">
    <img src="../../../assets/images/Vector_edit.svg" alt="Редактировать" class="edit">
  </a>
  <div *ngFor="let User of user | async">
    <table>
      <a (click)="deleteThisUser(User)">
        <img src="../../../assets/images/Vector_delete.svg" alt="Удалить" class="delete">
      </a>
      <tr class="id"> <b>ID Пользователя: </b> {{User.id}}</tr>
      <tr class="name"> <b> ФИО: </b> {{User.name}}</tr>
      <tr class="login"> <b> Логин: </b> {{User.login}}</tr>
      <tr class="password"> <b>Пароль:</b> {{User.password}}</tr>
      <tr class="type"><b>Роль: </b> {{User.type}}</tr>
      <tr>_________________________________________________</tr>
    </table>
  </div>
</div>

<div class ="main" id="add_id">
  <div class="menu2">
  <p> Добавить: пользователя </p>
  <form [formGroup]= "form" (ngSubmit)="onSubmit1()">
    <label>
      <input type = "text" formControlName="name" placeholder="ФИО" class="name">
      <input type = "text" formControlName="login" placeholder="Логин" class="login">
      <input type = "text" formControlName="password" placeholder="Пароль" class="password">
      <select class="type" formControlName="type" placeholder="Роль">
        <option>Студент</option>
        <option>Преподаватель</option>
      </select>
      <input type = "text" formControlName="group" placeholder="Группа" class="group">
    </label>
    <button class="writerout" type="submit"> Добавить </button>
    <br>
  </form>
</div>
</div>

<div class ="editpage" id="edit_id">
  <div class="editpage2">
  <p> Редактировать: пользователя </p>
  <form [formGroup]= "form">
    <label>
      <input type = "text" formControlName="id" placeholder="ID" class="id">
      <input type = "text" formControlName="name" placeholder="ФИО" class="name">
      <input type = "text" formControlName="login" placeholder="Логин" class="login">
      <input type = "text" formControlName="password" placeholder="Пароль" class="password">
      <select class="type" formControlName="type" placeholder="Роль">
        <option>Студент</option>
        <option>Преподаватель</option>
      </select>
      <input type = "text" formControlName="group" placeholder="Группа" class="group">
    </label>
    <button class="writerout" type="submit" (click)="update()">Сохранить</button>
    <br>
  </form>
  </div>
</div>
